<div class="container">
    <div class="row ">
        <div class="text-center py-3 col-12">
            <h3>{{title}}</h3>
        </div>
        <!-- <div class="chi-dropdown__menu -list -w&#45;&#45;lg" style="position: absolute; top: 49px"
            [ngClass]="{'-active':isChannelMenuActive}">
            <a class="chi-dropdown__menu-item " href="www.example.com" (click)="goToMediaPortal()">
                <span class="chi-dropdown__menu-item_title">Media Portal</span>
            </a>
        </div> -->
    </div>
    <div>
        <app-servers></app-servers>
        <app-fourth></app-fourth>

    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <app-sucess-alert></app-sucess-alert>
        </div>
        <div class="col-lg-12">
            <app-warning-alert></app-warning-alert>
        </div>
    </div> -->
</div>
<div class="container">
    <div class="row">
        <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)">
        </app-cockpit>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement">
                <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
            </app-server-element>
        </div>
    </div>
</div>
<div>
    <ul style="display:inline
    ;">
        <li *ngFor="let num of arrNum">
            <div appBasicBg>{{num}}</div>
        </li>
    </ul>
</div>
<app-assignment-fourth></app-assignment-fourth>